* {

    box-sizing: border-box;
    margin: 0;

    text-align: center;

    text-decoration: none;
    list-style: none;

    color: black;

}

.red-text {

    color: crimson;

    font-weight: bold;

}

.grey-text {

    color: rgb(202, 202, 210);

}

/* HEADER */

.navigation ul {

    display: flex;
    justify-content: center;

    gap: 4%;

    margin: 10px;

    font-weight: bold;

}

header img {

    margin: 10px;

}



